table.message-main-fields th, table.message-main-fields td {
	text-align: right;
}

table.message-fields td {
	padding: 4px 7px 2px 14px;
}

table.message-fields td.field-value li {
	margin-right: 1em;
}

.tablenav .actions input.button {
	margin: 0 0 0 8px;
}

#misc-publishing-actions .spam-log .dashicons-before::before {
	margin: 0 -1px 0 0;
	padding: 0 0 0 3px;
}
